/* Importation du style de Leaflet pour le rendu correct de la carte de géolocalisation */
@import "leaflet/dist/leaflet.css";

/* Directives de base de Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Réinitialisation globale et typographie */
body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}